.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice{
  text-align: center;
  display: inline-block;  font-size: 3rem;
  padding-right: 50px;height: 150px;margin-left: 80px;
    width: 150px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;margin-left: 10px;
}

.btn{
  color: white;
  margin-left:20px;

  margin-top: 6%;
  height: 55px;
  width: 150px;
  border-radius: 25px;
  font-weight: 1.5rem;
  cursor: pointer;
  background-color: #08d8caba;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;margin-left: 35px;

}
.btn:hover{color:white;background-color: darkred;}
